h1{
    color: pink;
    background-color: rgb(125, 41, 41);
}
body{
    background-color: rgb(145, 142, 192);
}
p{color: rgb(209, 235, 9);}
#info {color: aquamarine;}
.haha{color: black;}
.haha:hover{border: 2px solid green;
    transition: 1s;}
#table_style{background-color: bisque;}
#table_style th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace,
}
#table_style tr{
    border: 1px solid black; 
    padding: 8px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#table_style td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.tftable {font-size:12px;color:#ff9d24;width:100%;border-width: 1px;border-color: #ff9d24;border-collapse: collapse;text-align: center;}
.tftable th {font-size:12px;color:#000000 ;background-color:#ff9d24;padding: 8px;border-style: solid;border-color: #000000;text-align:left;text-align: center;}
.tftable tr {background-color:#000000;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #ff9d24;}
.tftable td:hover {background-color:#ffffff;}

.red{
    background-color: red; color: #000000;
}













